<footer>
    <div class="container">
        <div class="f-contact-strap wow fadeInLeft" data-wow-delay="0.1s">
            <h4>Ask our materials testing experts. We’re here to help.</h4>
            <button class="secondary-btn">Read More</button>
        </div>
        <div class="f-links-row">
            <div class="row">
                <div class="col-md-20 col-sm-3 col-6 wow fadeInDown" data-wow-delay="0.1s">
                    <h5>Our Services</h5>
                    <ul>
                        <li class="m-0"><a href="#!">Installation</a></li>
                        <li class="m-0"><a href="#!">Calibration</a></li>
                        <li class="m-0"><a href="#!">Training</a></li>
                        <li class="m-0"><a href="#!">Customer</a></li>
                        <li class="m-0"><a href="#!">Service</a></li>
                        <li class="m-0"><a href="#!">Request</a></li>
                    </ul>
                </div>
                <div class="col-md-20 col-sm-3 col-6 wow fadeInDown" data-wow-delay="0.3s">
                    <h5>Information</h5>
                    <ul>
                        <li class="m-0"><a href="#!">Online catalog</a></li>
                        <li class="m-0"><a href="#!">Cookies</a></li>
                        <li class="m-0"><a href="#!">delivery policy</a></li>
                        <li class="m-0"><a href="#!">terms of Use</a></li>
                    </ul>
                </div>
                <div class="col-md-20 col-sm-3 col-6 wow fadeInDown" data-wow-delay="0.5s">
                    <h5>More</h5>
                    <ul>
                        <li class="m-0"><a href="#!">About</a></li>
                        <li class="m-0"><a href="#!">Careers</a></li>
                        <li class="m-0"><a href="#!">Contact us</a></li>
                        <li class="m-0"><a href="#!">News and events</a></li>
                        <li class="m-0"><a href="#!">privacy policy</a></li>
                        <li class="m-0"><a href="#!">terms & Conditions</a></li>
                    </ul>
                </div>
                <div class="col-md-20 col-sm-3 col-6 wow fadeInDown" data-wow-delay="0.7s">
                    <h5>Follow Us</h5>
                    <ul>
                        <li class="m-0"><a href="#!"><i class="fab fa-facebook-square"></i>Facebook</a></li>
                        <li class="m-0"><a href="#!"><i class="fab fa-linkedin"></i>LinkedIn</a></li>
                        <li class="m-0"><a href="#!"><i class="fab fa-instagram-square"></i>Instagram</a></li>
                        <li class="m-0"><a href="#!"><i class="fab fa-youtube-square"></i>Youtube</a></li>
                    </ul>
                </div>
                <div class="col-md-20 col-sm-12 wow fadeInDown" data-wow-delay="0.9s">
                    <h5>Contact Us</h5>
                    <ul>
                        <li class="mt-2">
                            For further information contact us at: ELE International | 12,
                            Carter Lanes Kiln Farm, Milton Keynes, MK11 3ER United Kingdom
                        </li>
                        <li class="m-0"><a href="mailto:ele@eleint.co.uk"><i class="fas fa-envelope"></i>ele@eleint.co.uk</a></li>
                        <li class="m-0"><a href="tel:+44(0)20 7193 6027"><i class="fas fa-phone-alt"></i>+44(0)20 7193 6027</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="wow fadeInLeft" data-wow-delay="0.1s">
            <div class="f-country-text-wrap">
                <ul>
                    <li>United States</li>
                    <li><a href="#!">United Kingdom</a></li>
                    <li><a href="#!">Asia</a></li>
                    <li>Middle East</li>
                </ul>
            </div>
            <div class="f-copyright-text-wrap">
                <p>© ele.com. All Rights Reserved 2024.</p>
            </div>
        </div>
    </div>
</footer>