<%- include('layout',{ body:` <section class="banner_sec product_banner wow fadeInDown" data-wow-delay="0.1s">
    <img src="/images/product_banner.jpg" alt="" class="product_banner_img">
    <div class="container h-100 absolute-container">
        <div class="banner_text_wrap">
            <div class="text">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb wow fadeInDown" data-wow-delay="0.1s">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Classification</li>
                    </ol>
                </nav>
                <h1 class="title wow fadeInDown" data-wow-delay="0.2s">About Us</h1>
            </div>
        </div>
    </div>
    </section>
    <section class="about-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs wow fadeInDown" data-wow-delay="0.1s" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="about-tab" data-bs-toggle="tab" data-bs-target="#about-tab-pane" type="button" role="tab" aria-controls="about-tab-pane" aria-selected="true">About ELE</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="career-tab" data-bs-toggle="tab" data-bs-target="#career-tab-pane" type="button" role="tab" aria-controls="career-tab-pane" aria-selected="false">Careers</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="engineering-tab" data-bs-toggle="tab" data-bs-target="#engineering-tab-pane" type="button" role="tab" aria-controls="engineering-tab-pane" aria-selected="false">Advanced Engineering</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="mission-tab" data-bs-toggle="tab" data-bs-target="#mission-tab-pane" type="button" role="tab" aria-controls="mission-tab-pane" aria-selected="false">Mission</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="quality-tab" data-bs-toggle="tab" data-bs-target="#quality-tab-pane" type="button" role="tab" aria-controls="quality-tab-pane" aria-selected="false">Quality Assured</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="markets-tab" data-bs-toggle="tab" data-bs-target="#markets-tab-pane" type="button" role="tab" aria-controls="markets-tab-pane" aria-selected="false">Markets</button>
                        </li>
                    </ul>
                    <div class="tab-content wow fadeInDown" data-wow-delay="0.2s" id="myTabContent">
                        <div class="tab-pane fade show active wow fadeInDown" data-wow-delay="0.1s" id="about-tab-pane" role="tabpanel" aria-labelledby="about-tab" tabindex="0">
                            <div class="row">
                                <div class="col-xl-6 col-lg-5 mb-lg-0 mb-4 ">
                                    <div class="about-img-row">
                                        <div class="about-img-col-1">
                                            <img src="/images/ele-building.jpg" alt="">
                                        </div>
                                        <div class="about-img-col-2">
                                            <img src="/images/calibration.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-7">
                                    <div class="about-text">
                                        <h2>Welcome to ELE International – Your Trusted Partner in Construction Materials Testing and Environmental Instrumentation</h2>
                                        <p>
                                            Since 1961, ELE International has been at the forefront of the Materials Testing Industry, offering high-quality equipment and instrumentation trusted by professionals worldwide. Our extensive product range and unwavering commitment to customer satisfaction have made us a go-to choice for construction projects of all sizes.
                                        </p>
                                        <p>
                                            Backed by a dedicated team of experts and strategically located offices across the UK, USA, and beyond, we provide comprehensive support and service to our valued customers. With over 40 channel partners worldwide, we ensure that the ELE experience is accessible wherever you are.
                                        </p>
                                        <p>
                                            Join us as we continue to innovate and set new standards in the industry. Discover the difference with ELE International – Where Quality Meets Excellence.
                                        </p>
                                    </div>
                                    <button class="req-quote-btn">Request Quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade wow fadeInDown" data-wow-delay="0.1s" id="career-tab-pane" role="tabpanel" aria-labelledby="career-tab" tabindex="0">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="about-text">
                                        <p>
                                            Since 1961, ELE International has been at the forefront of the Materials Testing Industry, offering high-quality equipment and instrumentation trusted by professionals worldwide. Our extensive product range and unwavering commitment to customer satisfaction have made us a go-to choice for construction projects of all sizes.
                                        </p>
                                        <p>
                                            Backed by a dedicated team of experts and strategically located offices across the UK, USA, and beyond, we provide comprehensive support and service to our valued customers. With over 40 channel partners worldwide, we ensure that the ELE experience is accessible wherever you are.
                                        </p>
                                        <h6>
                                            Currently, there are no vacancies available however if you are looking for employment with us then definitely check on this page regularly as it will be updated when there is a new job opportunity available.
                                        </h6>
                                    </div>
                                    <button class="req-quote-btn">Contact Us</button>
                                    <div class="about-text mt-5">
                                        <h2>Start doing work that matters</h2>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <form class="row gx-0 gy-md-0 gy-3 rounded-columns">
                                        <div class="col-md-3">
                                            <label for="exampleFormControlInput1" class="form-label">job title</label>
                                            <select class="form-select" aria-label="Default select example">
                                                <option selected>Open this select menu</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="exampleFormControlInput1" class="form-label">Location</label>
                                            <select class="form-select" aria-label="Default select example">
                                                <option selected>Open this select menu</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="exampleFormControlInput1" class="form-label">Job Type</label>
                                            <input type="text" class="form-control" placeholder="Search Job type...">
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label invisible">Job Type</label>
                                            <a href="#!" class="serc-btn">Search</a>
                                        </div>
                                    </form>
                                </div>

                            </div>
                            <div class="row gy-4">
                                <div class="col-lg-12">
                                    <div class="job-recruitment-card">
                                        <div class="left-body">
                                            <h3 class="recruit-title"><i class="fas fa-user-tie"></i> Product Designer</h3>
                                            <p class="recruit-description">
                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour...
                                            </p>
                                            <ul class="entities">
                                                <li><i class="fas fa-clock"></i> Full Time</li>
                                                <li><i class="fas fa-briefcase"></i> Exp. 8+ Years</li>
                                                <li><i class="fas fa-wallet"></i> 4K - 20K/ Month</li>
                                                <li><i class="fas fa-building"></i> New Delhi</li>
                                            </ul>
                                        </div>
                                        <div class="right-body">
                                            <a href="#!" class="job-apply-btn">Apply Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="job-recruitment-card">
                                        <div class="left-body">
                                            <h3 class="recruit-title"><i class="fas fa-user-tie"></i> Product Designer</h3>
                                            <p class="recruit-description">
                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour...
                                            </p>
                                            <ul class="entities">
                                                <li><i class="fas fa-clock"></i> Full Time</li>
                                                <li><i class="fas fa-briefcase"></i> Exp. 8+ Years</li>
                                                <li><i class="fas fa-wallet"></i> 4K - 20K/ Month</li>
                                                <li><i class="fas fa-building"></i> New Delhi</li>
                                            </ul>
                                        </div>
                                        <div class="right-body">
                                            <a href="#!" class="job-apply-btn">Apply Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="job-recruitment-card">
                                        <div class="left-body">
                                            <h3 class="recruit-title"><i class="fas fa-user-tie"></i> Product Designer</h3>
                                            <p class="recruit-description">
                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form...
                                            </p>
                                            <ul class="entities">
                                                <li><i class="fas fa-clock"></i> Full Time</li>
                                                <li><i class="fas fa-briefcase"></i> Exp. 8+ Years</li>
                                                <li><i class="fas fa-wallet"></i> 4K - 20K/ Month</li>
                                                <li><i class="fas fa-building"></i> New Delhi</li>
                                            </ul>
                                        </div>
                                        <div class="right-body">
                                            <a href="#!" class="job-apply-btn">Apply Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade wow fadeInDown" data-wow-delay="0.1s" id="engineering-tab-pane" role="tabpanel" aria-labelledby="engineering-tab" tabindex="0">
                            <div class="row mb-5">
                                <div class="col-xl-6 col-lg-5 mb-lg-0 mb-4 ">
                                    <div class="about-img-row">
                                        <div class="about-img-col-1">
                                            <img src="/images/instalation.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-7">
                                    <div class="about-text">
                                        <h2>Advanced Engineering</h2>
                                        <p>
                                            Our Engineering team is split into three disciplines mechanical, electronic and software. These teams work together to introduce new products, maintain existing products and support our internal departments requiring engineering input and assistance.
                                        </p>
                                        <p>
                                            Following significant capital investment, our engineering team run the latest 3D CAD and FEA simulation software to verify ur designs and ensure our equipment is safe and robust and meets international standards.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row flex-row-reverse">
                                <div class="col-xl-6 col-lg-5 mb-lg-0 mb-4 ">
                                    <div class="about-img-row">
                                        <div class="about-img-col-1">
                                            <img src="/images/advance-engineering.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-7">
                                    <div class="about-text">
                                        <p>
                                            These investments help us to introduce new products in a fast and efficient manner utilizing the latest production methods such as multi axis CNC and laser cutting equipment, along with 3D printing technology for rapid prototyping.
                                        </p>
                                        <p>
                                            The Engineering Design team can assist with laboratory layouts, helping plan the position of machines and advising on their service requirements such as water, power and drainage. They also produce fly-through videos and detailed floor plans that are particularly useful and visual assets for many businesses.
                                        </p>
                                    </div>
                                    <button class="req-quote-btn">Contact Us</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade wow fadeInDown" data-wow-delay="0.1s" id="mission-tab-pane" role="tabpanel" aria-labelledby="mission-tab" tabindex="0">
                            <div class="row">
                                <div class="col-xl-6 col-lg-5 mb-lg-0 mb-4 ">
                                    <div class="about-img-row">
                                        <div class="about-img-col-1">
                                            <img src="/images/imge-mission-and-vission.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-7">
                                    <div class="about-text">
                                        <h6 class="mb-5">
                                            Currently, there are no vacancies available however if you are looking for employment with us then definitely check on this page regularly as it will be updated when there is a new job opportunity available.
                                        </h6>
                                        <div class="mission-box mt-4">
                                            <div class="mission-icon">
                                                <img src="/images/mission-icon.svg" alt="">
                                            </div>
                                            <div class="mission-descrip">
                                                <h2 class="mb-1">Our Mission</h2>
                                                <p class="mb-0">To develop new materials testing technologies that ensure the safety of civil infrastructure systems globally, technologies that improve the quality of our buildings, roads, bridges and homes.</p>
                                            </div>
                                        </div>
                                        <div class="vision-box mt-4">
                                            <div class="mission-icon">
                                                <img src="/images/vision-icon.svg" alt="">
                                            </div>
                                            <div class="vision-descrip">
                                                <h2 class="mb-1">Our Mission</h2>
                                                <p class="mb-0">To develop new materials testing technologies that ensure the safety of civil infrastructure systems globally, technologies that improve the quality of our buildings, roads, bridges and homes.</p>
                                                <button class="req-quote-btn mt-4">Contact Us</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade wow fadeInDown" data-wow-delay="0.1s" id="quality-tab-pane" role="tabpanel" aria-labelledby="quality-tab" tabindex="0">
                            <div class="row">
                                <div class="col-xl-6 col-lg-5 mb-lg-0 mb-4 ">
                                    <div class="about-img-row">
                                        <div class="about-img-col-1">
                                            <img src="/images/instalation.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-7">
                                    <div class="about-text">
                                        <h2>Quality Assured</h2>
                                        <p>
                                            At ELE International, our policy is to provide our customers
                                            with great quality products, service and workmanship that fully
                                            meets their expectations by maintaining continual development of
                                            quality and laboratory management systems. We guarantee that our
                                            products are safe, reliable, fully fit for purpose and compliant
                                            to statutory health and safety regulations. Subsequently our system
                                            is subject to regular surveillance by an internationally recognised
                                            third-party certification body. All of our processes are defined and
                                            documented to meet the requirements of our customers as we are truly
                                            committed to delivering the best professional practice when providing
                                            excellent calibration and service
                                        </p>
                                        <p>
                                            Backed by the proven reliability of our test equipment and the experience
                                            of our team, our quality control procedures ensure we can repeatedly supply
                                            the highest quality products to give a long and trouble-free operating life
                                            with minimal maintenance costs.
                                        </p>
                                    </div>
                                    <button class="req-quote-btn">Contact Us</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade wow fadeInDown" data-wow-delay="0.1s" id="markets-tab-pane" role="tabpanel" aria-labelledby="markets-tab" tabindex="0">
                            <div class="row mb-5">
                                <div class="col-xl-6 col-lg-5 mb-lg-0 mb-4 ">
                                    <div class="about-img-row">
                                        <div class="about-img-col-1">
                                            <img src="/images/education.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-7">
                                    <div class="about-text">
                                        <h2>Quality Assured</h2>
                                        <p>
                                            ELE has a close association with many educational centres worldwide.
                                        </p>
                                        <p>
                                            In the educational environment it is necessary to define the range of
                                            tests required to satisfy the curriculum. In addition the number of
                                            students involved will determine the requirements for the quantity of
                                            test sets to be available to ensure that students are capable of completing
                                            the educational objectives.
                                        </p>
                                        <h6>Our extensive experience in the educational market provides:</h6>
                                        <ul>
                                            <li>Turnkey solutions for new and existing facilities.</li>
                                            <li>Wide range of equipment specifications to meet all educational needs.</li>
                                            <li>Students trained on equipment used in commercial laboratories.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row flex-row-reverse mb-5">
                                <div class="col-xl-6 col-lg-5 mb-lg-0 mb-4 ">
                                    <div class="about-img-row">
                                        <div class="about-img-col-1">
                                            <img src="/images/cement.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-7">
                                    <div class="about-text">
                                        <h2>Quality Control Laboratories</h2>
                                        <p>
                                            Quality control of construction materials is fundamental to the production
                                            of long lasting structures that will satisfy the design performance requirements.
                                        </p>
                                        <p>
                                            For Government or Commercial testing laboratories this means that the available
                                            product resources will enable the contract testing schedule to be completed cost
                                            effectively and within the time-scale required.
                                        </p>
                                        <p>
                                            It is essential that the existing or proposed testing facility has sufficient
                                            equipment to meet the current and expected testing volume.
                                        </p>
                                        <h6>We have extensive experience in the supply and installation of equipment to Quality Control Laboratories.</h6>
                                        <ul>
                                            <li>Equipment meeting latest standards, ensuring performance specifications are achieved with confidence.</li>
                                            <li>Product availability, enabling laboratories to be supplied and operational with the minimum of delay.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-xl-6 col-lg-5 mb-lg-0 mb-4 ">
                                    <div class="about-img-row">
                                        <div class="about-img-col-1">
                                            <img src="/images/concrete.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-7">
                                    <div class="about-text">
                                        <h2>Concrete</h2>
                                        <p>
                                            Effective quality control of construction materials is key
                                            to the production of long lasting structures that satisfy
                                            precise design and safety requirements.
                                        </p>
                                        <p>
                                            We have established associations with a wide range of
                                            organisations involved in the production and use of
                                            ready-mix concrete, pre-cast concrete and concrete pipes
                                            and blocks.
                                        </p>
                                        <p>
                                            In each case, it is essential that existing and new
                                            quality control facilities have the correct equipment
                                            to meet current and future testing requirements.
                                        </p>
                                        <p>
                                            ELE has a longstanding record of providing dedicated testing
                                            solutions for concrete producers. Our solutions range from a
                                            single item of test equipment to a fully fitted laboratory based
                                            either on our standard systems for materials quality control and
                                            testing centres or a custom built facility.
                                        </p>
                                        <h6>In addition, we offer comprehensive product support:</h6>
                                        <ul>
                                            <li>Dedicated Service Department for fast response by trained service engineers.</li>
                                            <li>National service contracts that offer single supplier cost savings, consistent performance and Health and Safety compliance.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row flex-row-reverse">
                                <div class="col-xl-6 col-lg-5 mb-lg-0 mb-4 ">
                                    <div class="about-img-row">
                                        <div class="about-img-col-1">
                                            <img src="/images/laboratories.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-7">
                                    <div class="about-text">
                                        <h2>Quality Control Laboratories</h2>
                                        <p>
                                            Quality control of construction materials is fundamental to the production
                                            of long lasting structures that will satisfy the design performance requirements.
                                        </p>
                                        <p>
                                            For Government or Commercial testing laboratories this means that the available
                                            product resources will enable the contract testing schedule to be completed cost
                                            effectively and within the time-scale required.
                                        </p>
                                        <p>
                                            It is essential that the existing or proposed testing facility has sufficient
                                            equipment to meet the current and expected testing volume.
                                        </p>
                                        <h6>We have extensive experience in the supply and installation of equipment to Quality Control Laboratories.</h6>
                                        <ul>
                                            <li>Equipment meeting latest standards, ensuring performance specifications are achieved with confidence.</li>
                                            <li>Product availability, enabling laboratories to be supplied and operational with the minimum of delay.</li>
                                        </ul>
                                        <button class="req-quote-btn">Contact Us</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    `,
    styles: `
    <link rel="stylesheet" href="/css/about.css" />
    `,
    scripts: `
    <script>
        $(document).on("scroll", function ()
        {
            if ($(document).scrollTop() > 105)
            {
                $("header").addClass("fix-header");
            } else
            {
                $("header").removeClass("fix-header");
            }
        });
    </script>
    <script>
        wow = new WOW(
            {
                animateClass: 'animated',
                offset: 100,
                callback: function (box)
                {
                    console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
                }
            }
        );
        wow.init();
    </script>
    `
    }) %>