<%- include('layout', { body: `<section class="banner_sec wow fadeInDown" data-wow-delay="0.1s" .>

    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide slide__1">

                <div class="container h-100">
                    <div class="banner_text_wrap">
                        <div class="text">
                            <span class="css-shape-text wow fadeInDown" data-wow-delay="0.1s">
                                <span>ADR</span>
                            </span>
                            <h1 class="title wow fadeInDown" data-wow-delay="0.2s">Touch Control Pro</h1>
                            <p class="wow fadeInDown" data-wow-delay="0.3s">The ADR Touch Control Pro will deliver all the features and quality of the established ADR-Auto range, with its 20 year history, but with a new sleek design and additional capabilities.</p>
                            <h3 class="title-sm wow fadeInDown" data-wow-delay="0.4s">Model range from -25KN to 3000KN</h3>
                            <button class="secondary-btn wow fadeInDown" data-wow-delay="0.5s">Read More</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide slide__2">

                <div class="container h-100">
                    <div class="banner_text_wrap">
                        <div class="text">
                            <span class="css-shape-text wow fadeInDown" data-wow-delay="0.1s">
                                <span>ADR</span>
                            </span>
                            <h1 class="title wow fadeInDown" data-wow-delay="0.2s">Touch Control Pro</h1>
                            <p class="wow fadeInDown" data-wow-delay="0.3s">The ADR Touch Control Pro will deliver all the features and quality of the established ADR-Auto range, with its 20 year history, but with a new sleek design and additional capabilities.</p>
                            <h3 class="title-sm wow fadeInDown" data-wow-delay="0.4s">Model range from -25KN to 3000KN</h3>
                            <button class="secondary-btn wow fadeInDown" data-wow-delay="0.5s">Read More</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide slide__3">

                <div class="container h-100">
                    <div class="banner_text_wrap">
                        <div class="text">
                            <span class="css-shape-text wow fadeInDown" data-wow-delay="0.1s">
                                <span>ADR</span>
                            </span>
                            <h1 class="title wow fadeInDown" data-wow-delay="0.2s">Touch Control Pro</h1>
                            <p class="wow fadeInDown" data-wow-delay="0.3s">The ADR Touch Control Pro will deliver all the features and quality of the established ADR-Auto range, with its 20 year history, but with a new sleek design and additional capabilities.</p>
                            <h3 class="title-sm wow fadeInDown" data-wow-delay="0.4s">Model range from -25KN to 3000KN</h3>
                            <button class="secondary-btn wow fadeInDown" data-wow-delay="0.5s">Read More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    </section>
    <section class="testing_equiment_sec">
        <div class="container">
            <div class="row wow fadeInDown" data-wow-delay="0.1s">
                <div class="col-md-12">
                    <h2 class="sub_title"><strong class="primary-color">Our Testing </strong> Equipment</h2>
                </div>
            </div>
            <div class="row justify-content-center g-4">
                <div class="col-md-20 col-md-4 col-sm-4 col-6 wow fadeInDown" data-wow-delay="0.2s">
                    <div class="eq_card">
                        <div class="eq_img">
                            <img src="/images/ellipse-1.png" alt="">
                        </div>
                    </div>
                    <div class="eq_card_text">
                        <h3 class="">
                            Material Testing
                        </h3>
                    </div>
                </div>
                <div class="col-md-20 col-md-4 col-sm-4 col-6 wow fadeInDown" data-wow-delay="0.3s">
                    <div class="eq_card">
                        <div class="eq_img">
                            <img src="/images/ellipse-2.png" alt="">
                        </div>
                    </div>
                    <div class="eq_card_text">
                        <h3 class="">
                            Asphalt Testing
                        </h3>
                    </div>
                </div>
                <div class="col-md-20 col-md-4 col-sm-4 col-6 wow fadeInDown" data-wow-delay="0.4s">
                    <div class="eq_card">
                        <div class="eq_img">
                            <img src="/images/ellipse-3.png" alt="">
                        </div>
                    </div>
                    <div class="eq_card_text">
                        <h3 class="">
                            Soil Testing
                        </h3>
                    </div>
                </div>
                <div class="col-md-20 col-md-4 col-sm-4 col-6 wow fadeInDown" data-wow-delay="0.5s">
                    <div class="eq_card">
                        <div class="eq_img">
                            <img src="/images/ellipse-4.png" alt="">
                        </div>
                    </div>
                    <div class="eq_card_text">
                        <h3 class="">
                            Rock Machanics
                        </h3>
                    </div>
                </div>
                <div class="col-md-20 col-md-4 col-sm-4 col-6 wow fadeInDown" data-wow-delay="0.6s">
                    <div class="eq_card">
                        <div class="eq_img">
                            <img src="/images/ellipse-5.png" alt="">
                        </div>
                    </div>
                    <div class="eq_card_text">
                        <h3 class="">
                            Concrete Testing
                        </h3>
                    </div>
                </div>
                <div class="col-md-20 col-md-4 col-sm-4 col-6 wow fadeInDown" data-wow-delay="0.7s">
                    <div class="eq_card">
                        <div class="eq_img">
                            <img src="/images/ellipse-6.png" alt="">
                        </div>
                    </div>
                    <div class="eq_card_text">
                        <h3 class="">
                            Lab Testing
                        </h3>
                    </div>
                </div>
                <div class="col-md-20 col-md-4 col-sm-4 col-6 wow fadeInDown" data-wow-delay="0.8s">
                    <div class="eq_card">
                        <div class="eq_img">
                            <img src="/images/ellipse-7.png" alt="">
                        </div>
                    </div>
                    <div class="eq_card_text">
                        <h3 class="">
                            Cement Testing
                        </h3>
                    </div>
                </div>
                <div class="col-md-20 col-md-4 col-sm-4 col-6 wow fadeInDown" data-wow-delay="0.9s">
                    <div class="eq_card">
                        <div class="eq_img">
                            <img src="/images/ellipse-8.png" alt="">
                        </div>
                    </div>
                    <div class="eq_card_text">
                        <h3 class="">
                            Environmental
                        </h3>
                    </div>
                </div>
                <div class="col-md-20 col-md-4 col-sm-4 col-6 wow fadeInDown" data-wow-delay="1s">
                    <div class="eq_card">
                        <div class="eq_img">
                            <img src="/images/ellipse-9.png" alt="">
                        </div>
                    </div>
                    <div class="eq_card_text">
                        <h3 class="">
                            Aggregates Testing
                        </h3>
                    </div>
                </div>
                <div class="col-md-20 col-md-4 col-sm-4 col-6 wow fadeInDown" data-wow-delay="1.1s">
                    <div class="eq_card">
                        <div class="eq_img">
                            <img src="/images/ellipse-10.png" alt="">
                        </div>
                    </div>
                    <div class="eq_card_text">
                        <h3 class="">
                            US Soiltest
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about_sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="abt-text-wrap">
                        <h2 class="sub_title text-lg-start mb-lg-3 mb-4 wow fadeInDown" data-wow-delay="0.1s"><strong class="primary-color">Our Testing </strong> Equipment</h2>
                        <h3 class="mini_title wow fadeInDown" data-wow-delay="0.2s">
                            Construction materials testing equipment and environmental instrumentation
                        </h3>
                        <p class="description wow fadeInDown" data-wow-delay="0.3s">
                            Experts in our field, at ELE International we specialise in the design, manufacture and supply of high-quality construction materials testing equipment and environmental instrumentation. Our products are backed by global customer service, with comprehensive technical and applications support.
                        </p>
                        <p class="description wow fadeInDown" data-wow-delay="0.4s">
                            We are considered one of the iconic pioneers within the Materials Testing Industry both in the UK and internationally. Over the years, the business has been steadily growing and has exponentially increased our portfolio from single digits to hundreds of new and innovative testing products. We are incredibly proud of our company and its achievements such as the highly talented and diverse workforce, which have helped to establish the major global presence that we have today.
                        </p>
                        <p class="description wow fadeInDown" data-wow-delay="0.5s">
                            Product sales, manufacturing, service and customer support are available from strategically located offices. Our reach is truly global as we are fortunate to have more than 40 channel partners situated across the world who are supporting the ELE brand in region.
                        </p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="abt-img-wrap">
                        <div class="trans-bg wow slideInRight" data-wow-delay="0.1s"></div>
                        <img src="/images/about.png" alt="" class="abt-img wow fadeInDown" data-wow-delay="0.1s">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="service_sec">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow fadeInDown" data-wow-delay="0.1s">
                    <h2 class="sub_title white-color"><strong class="white-color">Quality Products </strong> And Service</h2>
                </div>
                <div class="col-md-10 offset-md-1 wow fadeInDown" data-wow-delay="0.2s">
                    <p class="description_p">
                        ELE has been in business for over 50 years and during that time has built a reputation for quality around the world. Our massive range of testing and laboratory equipment is backed up by the standard of customer service and technical support available.
                    </p>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-md-4 wow fadeInDown" data-wow-delay="0.1s">
                    <div class="prod_card">
                        <div class="icon_wrap">
                            <img src="/images/service-1.svg" alt="">
                        </div>
                        <h4>Products</h4>
                        <p>
                            ELE stock thousands of materials testing and environment
                            instrumentation products across our regional network.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInDown" data-wow-delay="0.2s">
                    <div class="prod_card">
                        <div class="icon_wrap">
                            <img src="/images/service-2.svg" alt="">
                        </div>
                        <h4>Our Services</h4>
                        <p>
                            ELE are committed to providing the best possible
                            support and after-sales care to our customers.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInDown" data-wow-delay="0.3s">
                    <div class="prod_card">
                        <div class="icon_wrap">
                            <img src="/images/service-3.svg" alt="">
                        </div>
                        <h4>Find A Distributor</h4>
                        <p>
                            Our network of regional distributors and service
                            providers gives us global reach.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sub_categ-sec">
        <div class="container">
            <div class="row wow fadeInDown" data-wow-delay="0.1s">
                <div class="col-md-12">
                    <h2 class="sub_title"><strong class="primary-color">Our Sub </strong> Category</h2>
                </div>
            </div>
            <!-- Swiper -->
            <div class="swiper subCategSwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide wow fadeInDown" data-wow-delay="0.1s">
                        <div class="sub-categ-card">
                            <div class="sub-categ-img">
                                <img src="/images/sub-categ-1.png" alt="">
                            </div>
                            <h4>Universal Testing Machine</h4>
                        </div>
                    </div>
                    <div class="swiper-slide wow fadeInDown" data-wow-delay="0.2s">
                        <div class="sub-categ-card">
                            <div class="sub-categ-img">
                                <img src="/images/sub-categ-2.png" alt="">
                            </div>
                            <h4>Compression Machine</h4>
                        </div>
                    </div>
                    <div class="swiper-slide wow fadeInDown" data-wow-delay="0.3s">
                        <div class="sub-categ-card">
                            <div class="sub-categ-img">
                                <img src="/images/sub-categ-3.png" alt="">
                            </div>
                            <h4>Drying Oven</h4>
                        </div>
                    </div>
                    <div class="swiper-slide wow fadeInDown" data-wow-delay="0.4s">
                        <div class="sub-categ-card">
                            <div class="sub-categ-img">
                                <img src="/images/sub-categ-4.png" alt="">
                            </div>
                            <h4>Sieving method</h4>
                        </div>
                    </div>
                    <div class="swiper-slide wow fadeInDown" data-wow-delay="0.5s">
                        <div class="sub-categ-card">
                            <div class="sub-categ-img">
                                <img src="/images/sub-categ-2.png" alt="">
                            </div>
                            <h4>Compression Machine</h4>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <!-- <div class="swiper-pagination"></div> -->
            </div>
        </div>
    </section>
    <section class="news_feed_sec">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow fadeInDown" data-wow-delay="0.1s">
                    <h2 class="sub_title"><strong class="primary-color">Latest News </strong> And Event</h2>
                </div>
                <div class="col-md-10 offset-md-1 wow fadeInDown" data-wow-delay="0.2s">
                    <p class="description_p">
                        Find out the latest developments at ELE International as well as
                        industry news for materials testing and environment instrumentation.
                    </p>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-lg-6 wow fadeInDown" data-wow-delay="0.3s">
                    <div class="news_card">
                        <img src="/images/news-1.png" alt="" class="nw-big">
                        <div class="card_info">
                            <span class="news_date">
                                Jan 15 ,2024
                            </span>
                            <h4>How to series: Transducer set up on DS8.0 One-Dimensional Software</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row g-4">
                        <div class="col-sm-6 wow fadeInDown" data-wow-delay="0.1s">
                            <div class="news_card">
                                <div class="card_info_sm">
                                    <span class="news_date">
                                        Jan 15 ,2024
                                    </span>
                                    <h4 class="default-color">How to series: Transducer set up....</h4>
                                    <p class="description_p">In this video we show you how to set up a transducer on the DS8.0 One-Dimensional Software</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 wow fadeInDown" data-wow-delay="0.2s">
                            <div class="news_card">
                                <img src="/images/news-2.png" alt="">
                                <div class="card_info">
                                    <span class="news_date">
                                        Jan 15 ,2024
                                    </span>
                                    <h4>How to series: Transducer set up....</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 wow fadeInDown" data-wow-delay="0.3s">
                            <div class="news_card">
                                <img src="/images/news-3.png" alt="">
                                <div class="card_info">
                                    <span class="news_date">
                                        Jan 15 ,2024
                                    </span>
                                    <h4>How to series: Transducer set up....</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 wow fadeInDown" data-wow-delay="0.5s">
                            <div class="news_card">
                                <div class="card_info_sm">
                                    <span class="news_date">
                                        Jan 15 ,2024
                                    </span>
                                    <h4 class="default-color">How to series: Transducer set up....</h4>
                                    <p class="description_p">In this video we show you how to set up a transducer on the DS8.0 One-Dimensional Software</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5 text-center wow fadeInDown" data-wow-delay="0.6s">
                <div class="col-12">
                    <button href="#!" class="tertiary-btn">
                        View All News
                    </button>
                </div>
            </div>
        </div>
    </section>`,
    styles: `
    <link rel="stylesheet" href="/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    `,
    scripts: `
    <script src="/js/swiper-bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function ()
        {
            var wow = new WOW({ animateClass: 'animated', offset: 100 });
            wow.init();

            function reinitializeWowAnimations(swiper)
            {
                var activeSlide = swiper.slides[swiper.activeIndex];
                var wowElements = activeSlide.querySelectorAll('.wow');
                wowElements.forEach(function (el)
                {
                    el.classList.remove('animated', 'fadeInDown');
                    void el.offsetWidth; // Trigger reflow
                    el.classList.add('animated', 'fadeInDown');
                });
            }

            var swiper = new Swiper(".mySwiper", {
                spaceBetween: 30,
                slidesPerView: 1,
                effect: "fade",
                loop: true,
                autoplay: { delay: 2500, disableOnInteraction: false, pauseOnMouseEnter: true },
                pagination: { el: ".swiper-pagination", clickable: true },
                on: {
                    init: function ()
                    {
                        this.slides.forEach(function (slide)
                        {
                            var wowElements = slide.querySelectorAll('.wow');
                            wowElements.forEach(function (el)
                            {
                                el.classList.add('animated');
                            });
                        });
                    },
                    slideChangeTransitionStart: reinitializeWowAnimations,
                    slideChange: reinitializeWowAnimations
                }
            });

            var swiper2 = new Swiper(".subCategSwiper", {
                slidesPerView: 1,
                spaceBetween: 10,
                loop: true,
                navigation: { nextEl: ".swiper-button-next", prevEl: ".swiper-button-prev" },
                breakpoints: {
                    640: { slidesPerView: 2, spaceBetween: 10 },
                    768: { slidesPerView: 3, spaceBetween: 24 },
                    1024: { slidesPerView: 4, spaceBetween: 24 }
                }
            });

            $(document).on("scroll", function ()
            {
                if ($(document).scrollTop() > 105)
                {
                    $("header").addClass("fix-header");
                } else
                {
                    $("header").removeClass("fix-header");
                }
            });
        });
    </script>
    `

    }) %>