<%- include('layout',{ body:` <section class="banner_sec product_banner wow fadeInDown" data-wow-delay="0.1s">
    <img src="/images/product_banner.jpg" alt="" class="product_banner_img">
    <div class="container h-100 absolute-container">
        <div class="banner_text_wrap">
            <div class="text">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb wow fadeInDown" data-wow-delay="0.1s">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Our Services</li>
                    </ol>
                </nav>
                <h1 class="title wow fadeInDown" data-wow-delay="0.2s">Services</h1>
            </div>
        </div>
    </div>
    </section>
    <section class="services-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs wow fadeInDown" data-wow-delay="0.1s" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="services-tab" data-bs-toggle="tab" data-bs-target="#services-tab-pane" type="button" role="tab" aria-controls="services-tab-pane" aria-selected="true">Our Services</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="installation-tab" data-bs-toggle="tab" data-bs-target="#installation-tab-pane" type="button" role="tab" aria-controls="installation-tab-pane" aria-selected="false">Installation</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="calibration-tab" data-bs-toggle="tab" data-bs-target="#calibration-tab-pane" type="button" role="tab" aria-controls="calibration-tab-pane" aria-selected="false">Calibration</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="training-tab" data-bs-toggle="tab" data-bs-target="#training-tab-pane" type="button" role="tab" aria-controls="training-tab-pane" aria-selected="false">Training</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="service-request-tab" data-bs-toggle="tab" data-bs-target="#service-request-tab-pane" type="button" role="tab" aria-controls="service-request-tab-pane" aria-selected="false">Customer Service Request</button>
                        </li>
                    </ul>
                    <div class="tab-content wow fadeInDown" data-wow-delay="0.2s" id="myTabContent">
                        <div class="tab-pane fade show active wow fadeInDown" data-wow-delay="0.1s" id="services-tab-pane" role="tabpanel" aria-labelledby="services-tab" tabindex="0">
                            <div class="row gy-4">
                                <div class="col-lg-4 col-md-6">
                                    <div class="card serv-card">
                                        <div class="card-header">
                                            <img src="/images/services-icons/installation.svg" alt="">
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Installation</h5>
                                            <p class="card-text">
                                                The correct installation of new laboratory equipment is essential to ensure long term performance of the testing systems.
                                            </p>
                                        </div>
                                        <div class="card-footer">
                                            <a href="#!" title="Find out more">Find out more <i class="fas fa-long-arrow-alt-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="card serv-card">
                                        <div class="card-header">
                                            <img src="/images/services-icons/scale.svg" alt="">
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Calibration</h5>
                                            <p class="card-text">
                                                Recognising the significant investment normally made in establishing a Construction Materials Testing facility, ELE provides extensive after-sales support.
                                            </p>
                                        </div>
                                        <div class="card-footer">
                                            <a href="#!" title="Find out more">Find out more <i class="fas fa-long-arrow-alt-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="card serv-card">
                                        <div class="card-header">
                                            <img src="/images/services-icons/training.svg" alt="">
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Training</h5>
                                            <p class="card-text">
                                                As part of ELE's comprehensive service, training programmes in Test Methods can be provided to meet customers’ requirements.
                                            </p>
                                        </div>
                                        <div class="card-footer">
                                            <a href="#!" title="Find out more">Find out more <i class="fas fa-long-arrow-alt-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade wow fadeInDown" data-wow-delay="0.1s" id="installation-tab-pane" role="tabpanel" aria-labelledby="installation-tab" tabindex="0">
                            <div class="row">
                                <div class="col-xl-6 col-lg-5 mb-lg-0 mb-4 ">
                                    <div class="about-img-row">
                                        <div class="about-img-col-1">
                                            <img src="/images/instalation.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-7">
                                    <div class="about-text">
                                        <h2>Installation</h2>
                                        <p>
                                            The correct installation of new laboratory equipment is essential to ensure
                                            long term performance of the testing systems.
                                        </p>
                                        <p>
                                            ELE offers a full installation and commissioning service,
                                            maximising the return on investment in equipment.
                                        </p>
                                        <p>
                                            ELE's trained engineers have extensive product and test application knowledge
                                            coupled with world-wide experience in the installation of complete testing laboratories.
                                        </p>
                                        <h6>
                                            For further details contact our dedicated Service Department for a fast response
                                            email us here <a href="mailto:ele@eleint.co.uk">ele@eleint.co.uk</a> or call +44 (0) 20 7193 6027.
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade wow fadeInDown" data-wow-delay="0.1s" id="calibration-tab-pane" role="tabpanel" aria-labelledby="calibration-tab" tabindex="0">
                            <div class="row">
                                <div class="col-xl-6 col-lg-5 mb-lg-0 mb-4 ">
                                    <div class="about-img-row">
                                        <div class="about-img-col-1">
                                            <img src="/images/instalation.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-7">
                                    <div class="about-text">
                                        <h2>Calibration</h2>
                                        <p>
                                            Recognising the significant investment normally made in establishing
                                            a Construction Materials Testing facility, ELE provides extensive
                                            after-sales support.
                                        </p>
                                        <p>
                                            A key area of this support is the calibration of
                                            concrete testing machines, load measuring devices and displacement and
                                            pressure transducers.
                                        </p>
                                        <p>
                                            Our highly trained service engineers carry out
                                            calibration of concrete machines in the customer's laboratory.
                                        </p>
                                        <p>
                                            For organisations having machines installed in multiple locations, ELE has
                                            developed national contract calibration schemes that provide users with
                                            consistent machine performance and cost-savings.
                                        </p>
                                        <p>
                                            In-house support is available from our experienced technical and calibration engineers
                                        </p>
                                        <h6>
                                            For further details contact our dedicated Service Department for a fast response
                                            email us here <a href="mailto:ele@eleint.co.uk">ele@eleint.co.uk</a> or call +44 (0) 20 7193 6027
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade wow fadeInDown" data-wow-delay="0.1s" id="training-tab-pane" role="tabpanel" aria-labelledby="training-tab" tabindex="0">
                            <div class="row">
                                <div class="col-xl-6 col-lg-5 mb-lg-0 mb-4 ">
                                    <div class="about-img-row">
                                        <div class="about-img-col-1">
                                            <img src="/images/laboratories.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-7">
                                    <div class="about-text">
                                        <h2>Training</h2>
                                        <p>
                                            As part of ELE's comprehensive service, training programmes in Test Methods can be provided to meet customers’ requirements.
                                        </p>
                                        <p>
                                            This work is normally carried out on-site in the customer’s testing laboratory following installation of equipment.
                                        </p>
                                        <p>
                                            Training content is in accordance with the relevant International Test Standards.
                                        </p>
                                        <h6>
                                            For further details contact our dedicated Service Department for a fast response
                                            email us here <a href="mailto:ele@eleint.co.uk">ele@eleint.co.uk</a> or call +44 (0) 20 7193 6027
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade wow fadeInDown" data-wow-delay="0.1s" id="service-request-tab-pane" role="tabpanel" aria-labelledby="service-request-tab" tabindex="0">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="about-text">
                                        <h2>Customer Service Request</h2>
                                        <p>
                                            Please complete the form below to submit a service case to ELE International.
                                            If you send us a case, your details are not provided to third parties and we
                                            adhere to GDPR rules. Please see our <a href="#!">Privacy Policy</a> page for more information.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <form class="row gy-4 gx-3 m-0">
                                <div class="col-md-4">
                                    <label for="" class="form-label">Full Name <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="" placeholder="Full Name">
                                </div>
                                <div class="col-md-4">
                                    <label for="" class="form-label">Company Name <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="" placeholder="Company Name">
                                </div>
                                <div class="col-md-4">
                                    <label for="" class="form-label">Address 1 <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="" placeholder="Address 1">
                                </div>
                                <div class="col-md-4">
                                    <label for="" class="form-label">Address 2</label>
                                    <input type="text" class="form-control" id="" placeholder="Address 2">
                                </div>
                                <div class="col-md-4">
                                    <label for="" class="form-label">Address 3</label>
                                    <input type="text" class="form-control" id="" placeholder="Address 3">
                                </div>
                                <div class="col-md-4">
                                    <label for="" class="form-label">City <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="" placeholder="City">
                                </div>
                                <div class="col-md-4">
                                    <label for="" class="form-label">Country <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="" placeholder="Country">
                                </div>
                                <div class="col-md-4">
                                    <label for="" class="form-label">Zip/Postal Code <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="" placeholder="Zip/Postal Code">
                                </div>
                                <div class="col-md-4">
                                    <label for="" class="form-label">Phone Number <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="" placeholder="Phone Number">
                                </div>
                                <div class="col-md-4">
                                    <label for="" class="form-label">Mobile Number</label>
                                    <input type="text" class="form-control" id="" placeholder="Country">
                                </div>
                                <div class="col-md-4">
                                    <label for="" class="form-label">E-mail <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="" placeholder="E-mail">
                                </div>
                                <div class="col-md-4">
                                    <label for="" class="form-label">ELE Order Number</label>
                                    <input type="text" class="form-control" id="" placeholder="Phone Number">
                                </div>
                                <div class="col-md-12">
                                    <label for="" class="form-label">What is the ELE item number for the product (if more than one item, please add additional part numbers)</label>
                                    <textarea class="form-control h-auto" id="" rows="6" placeholder="Enter massage"></textarea>
                                </div>
                                <div class="col-md-12">
                                    <label for="" class="form-label">Item Description (if more than one item, please add additional descriptions)</label>
                                    <textarea class="form-control h-auto" id="" rows="6" placeholder="Enter massage"></textarea>
                                </div>
                                <div class="col-md-12">
                                    <label for="" class="form-label">What type of issue are you experiencing with ELE?</label>
                                    <input type="text" class="form-control" id="" placeholder="Missing Components">
                                </div>
                                <div class="col-md-12">
                                    <label for="" class="form-label">Please can you provide a description of your issue (please provide as much detail as possible as this will help us to resolve your issue as soon as possible). *</label>
                                    <textarea class="form-control h-auto" id="" rows="6" placeholder="Enter massage"></textarea>
                                </div>
                                <div class="col-md-12">
                                    <label for="" class="form-label">How would you like to be contacted regarding this issue?</label>
                                    <input type="text" class="form-control" id="" placeholder="Phone">
                                </div>
                                <div class="col-md-12">
                                    <label for="formFile" class="form-label">Default file input example</label>
                                    <input class="form-control chooseFile" type="file" id="">
                                </div>
                                <div class="col-md-4">
                                    <label for="" class="form-label">Image 2</label>
                                    <input class="form-control chooseFile" type="file" id="">
                                </div>
                                <div class="col-md-4">
                                    <label for="" class="form-label">Image 3</label>
                                    <input class="form-control chooseFile" type="file" id="">
                                </div>
                                <div class="col-md-4">
                                    <label for="" class="form-label">Image 4</label>
                                    <input class="form-control chooseFile" type="file" id="">
                                </div>
                                <div class="col-md-12">
                                    <button class="req-quote-btn">Send enquiry</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    `,
    styles: `
    <link rel="stylesheet" href="/css/services.css" />
    `,
    scripts: `
    <script>
        $(document).on("scroll", function ()
        {
            if ($(document).scrollTop() > 105)
            {
                $("header").addClass("fix-header");
            } else
            {
                $("header").removeClass("fix-header");
            }
        });
    </script>
    <script>
        wow = new WOW(
            {
                animateClass: 'animated',
                offset: 100,
                callback: function (box)
                {
                    console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
                }
            }
        );
        wow.init();
    </script>
    `
    }) %>