<%- include('layout',{ body:` <section class="banner_sec product_banner wow fadeInDown" data-wow-delay="0.1s">
    <img src="/images/product_banner.jpg" alt="" class="product_banner_img">
    <div class="container h-100 absolute-container">
        <div class="banner_text_wrap">
            <div class="text">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb wow fadeInDown" data-wow-delay="0.1s">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Catalogue</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Library</li>
                    </ol>
                </nav>
                <h1 class="title wow fadeInDown" data-wow-delay="0.2s">Soil Testing Equipment</h1>
            </div>
        </div>
    </div>
    </section>
    <section class="category-sec">
        <div class="container">
            <div class="row g-4">
                <div class="col-md-12">
                    <p class="prod-detail-text wow fadeInDown" data-wow-delay="0.1s">
                        It is vitally important to know the characteristics of soils in
                        construction projects because soil mechanics affect the performance
                        of foundations, backfill, embankments, drainage etc. It is also necessary
                        to understand the behavior of soils under varying conditions of moisture,
                        loading, stress, temperature etc. ELE International designs and manufactures
                        a comprehensive range of soil sampling and testing equipment to meet this
                        requirement in accordance with international standards for both field and
                        laboratory testing.
                    </p>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 wow fadeInDown" data-wow-delay="0.1s">
                    <div class="card border-0 h-100">
                        <div class="img_box">
                            <img src="/images/peoduct-category/category1.png" class="card-img-top" alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">In-situ Sampling and Preparation</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 wow fadeInDown" data-wow-delay="0.2s">
                    <div class="card border-0 h-100">
                        <div class="img_box">
                            <img src="/images/peoduct-category/category2.png" class="card-img-top" alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Moisture Content</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 wow fadeInDown" data-wow-delay="0.3s">
                    <div class="card border-0 h-100">
                        <div class="img_box">
                            <img src="/images/peoduct-category/category3.png" class="card-img-top" alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Soil Index Properties</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 wow fadeInDown" data-wow-delay="0.4s">
                    <div class="card border-0 h-100">
                        <div class="img_box">
                            <img src="/images/peoduct-category/category4.png" class="card-img-top" alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Particle Size Distribution and sand Equivalent Value</h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-6 wow fadeInDown" data-wow-delay="0.1s">
                    <div class="card border-0 h-100">
                        <div class="img_box">
                            <img src="/images/peoduct-category/category5.png" class="card-img-top" alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Compaction & CBR Test Equipment</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 wow fadeInDown" data-wow-delay="0.2s">
                    <div class="card border-0 h-100">
                        <div class="img_box">
                            <img src="/images/peoduct-category/category6.png" class="card-img-top" alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Consolidstion Apparatus</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 wow fadeInDown" data-wow-delay="0.3s">
                    <div class="card border-0 h-100">
                        <div class="img_box">
                            <img src="/images/peoduct-category/category7.png" class="card-img-top" alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Permeability</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 wow fadeInDown" data-wow-delay="0.4s">
                    <div class="card border-0 h-100">
                        <div class="img_box">
                            <img src="/images/peoduct-category/category8.png" class="card-img-top" alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Soil Strength(Triaxial)</h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-6 wow fadeInDown" data-wow-delay="0.1s">
                    <div class="card border-0 h-100">
                        <div class="img_box">
                            <img src="/images/peoduct-category/category9.png" class="card-img-top" alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Direct Shear and Vane Tests</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 wow fadeInDown" data-wow-delay="0.2s">
                    <div class="card border-0 h-100">
                        <div class="img_box">
                            <img src="/images/peoduct-category/category10.png" class="card-img-top" alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Data Logging, Software and Electronic Instrumentation</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 wow fadeInDown" data-wow-delay="0.3s">
                    <div class="card border-0 h-100">
                        <div class="img_box">
                            <img src="/images/peoduct-category/category11.png" class="card-img-top" alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Bearing Capacity</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 wow fadeInDown" data-wow-delay="0.4s">
                    <div class="card border-0 h-100">
                        <div class="img_box">
                            <img src="/images/peoduct-category/category12.png" class="card-img-top" alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">In-Situ Density</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 wow fadeInDown" data-wow-delay="0.1s">
                    <p class="prod-detail-text">
                        ELE’s materials testing equipment enables the accurate classification
                        of soils and the measurement of key parameters such as moisture, density,
                        shear strength, permeability, bearing capacity, compaction and CBR,
                        consolidation, Atterberg limits - shrinkage limit, plastic limit,
                        and liquid limit, particle size distribution, sand equivalent value,
                        slope stability, triaxial soil strength, pore water pressure, effective
                        stress, soil chemistry and much more. Providing everything from a simple
                        pocket penetrometer to a sophisticated triaxial soil testing system with
                        control and data acquisition software, ELE soils testing equipment includes
                        all of the equipment necessary to run standard test methods in the field or
                        the laboratory.
                    </p>
                </div>
            </div>
        </div>
    </section>

    `, styles: `
    <link rel="stylesheet" href="/css/product.css" />
    `,
    scripts: `
    <script>
        $(document).on("scroll", function ()
        {
            if ($(document).scrollTop() > 105)
            {
                $("header").addClass("fix-header");
            } else
            {
                $("header").removeClass("fix-header");
            }
        });
    </script>
    <script>
        wow = new WOW(
            {
                animateClass: 'animated',
                offset: 100,
                callback: function (box)
                {
                    console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
                }
            }
        );
        wow.init();
    </script>
    `
    }) %>