@font-face {
  font-family: "CircularStdBook-Regular";
  src: url(/fonts/CircularStdBook.ttf);
  font-display: fallback;
}
@font-face {
  font-family: "CircularStdBook-Medium";
  src: url(/fonts/CircularStdMedium.ttf);
  font-display: fallback;
}
@font-face {
  font-family: "CircularStdBook-Bold";
  src: url(/fonts/CircularStdBold.ttf);
  font-display: fallback;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "CircularStdBook-Regular";
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: #1f2026;
}

ul,
li {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #087db9;
}

a:hover {
  color: #66707e;
}

.primary-color {
  color: #007ab6;
}

.white-color {
  color: #fff;
}

.default-color {
  color: #1f2026;
}

.primary-btn {
  font-size: 14px;
  outline: none;
  border: 1px solid #007ab6;
  border-radius: 4px;
  color: #007ab6;
  background-color: #fff;
  padding: 7px 15px;
  line-height: 18px;
  transition: all 0.2s linear;
}

.primary-btn:hover {
  background-color: #0c5e95;
  border: 1px solid #0c5e95;
  color: #fff;
}

.secondary-btn {
  line-height: 1;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  padding: 12px 15px;
  border-radius: 4px;
  transition: all 0.2s linear;
}

.secondary-btn:hover {
  background-color: #fff;
  border: 1px solid #fff;
  color: #0c5e95;
}

.tertiary-btn {
  line-height: 1;
  border: 1px solid #0c5e95;
  background: #fff;
  color: #0c5e95;
  padding: 12px 15px;
  border-radius: 4px;
  transition: all 0.2s linear;
}

.tertiary-btn:hover {
  background-color: #0c5e95;
  border: 1px solid #0c5e95;
  color: #fff;
}

.menu-btn {
  line-height: 1;
  padding: 0px;
  background: #fff;
  font-size: 23px;
  color: #007ab6;
  position: relative;
  top: 4px;
  margin-left: 20px;
  border: none;
}

.form-control,
.form-select {
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #c0c0c0;
}

.form-select:focus,
.form-control:focus {
  border-color: #c0c0c0;
  outline: 0;
  box-shadow: none;
}

.sub_title {
  font-family: "CircularStdBook-Medium";
  font-size: 32px;
  text-align: center;
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .sub_title {
    font-size: 30px;
  }
}
@media (max-width: 575px) {
  .sub_title {
    font-size: 26px;
  }
}
header .top_header {
  background-color: #007ab6;
  color: #fff;
  text-align: center;
  padding: 6px 0;
  line-height: 1;
}

header .top_header p {
  margin-bottom: 0;
}

header nav {
  padding: 15px 0px !important;
}

@media (max-width: 767px) {
  header nav {
    padding: 10px 0px !important;
  }
}
header nav .navbar-brand img {
  width: 140px;
  height: auto;
}

@media (max-width: 575px) {
  header nav .navbar-brand img {
    width: 120px;
  }
}
header nav .input-group .src-inp {
  border-radius: 4px 0 0 4px;
  border-color: #c0c0c0;
  font-size: 14px;
  line-height: 20px;
  border-right: 0;
}

@media (max-width: 767px) {
  header nav .input-group .src-inp {
    font-size: 13px;
  }
}
header nav .input-group .input-group-text {
  border-radius: 0px 4px 4px 0px;
  background-color: #fff;
  border-color: #c0c0c0;
  color: #007ab6;
  font-size: 14px;
  line-height: 20px;
  border-left: 0;
}

@media (max-width: 400px) {
  header nav .input-group .input-group-text {
    padding-left: 6px;
    padding-right: 6px;
  }
}
header nav .catlg-btn {
  display: block;
  margin-left: auto;
}

@media (max-width: 1199px) {
  header nav .catlg-btn {
    padding: 7px 10px;
  }
}
@media (max-width: 991px) {
  header nav .catlg-btn {
    display: inline-block;
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  header nav .catlg-btn {
    display: none;
    font-size: 13px;
    width: 100%;
  }
}
@media (max-width: 575px) {
  header nav .catlg-btn {
    padding: 7px;
    font-size: 12px;
  }
}
@media (max-width: 400px) {
  header nav .catlg-btn {
    padding: 7px 4px;
    font-size: 10px;
  }
}
header .desk-menu {
  background-color: #007ab6;
  padding: 2px 0;
}

header .desk-menu .nav-item {
  margin-right: 30px;
}

header .desk-menu .nav-item:last-child {
  margin-right: 0;
}

header .desk-menu .nav-item .nav-link {
  position: relative;
  font-size: 14px;
  color: #fff;
  line-height: 14px;
}

header .desk-menu .nav-item .nav-link::after {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: 0.5s transform ease;
  transform: scale3d(0, 1, 1);
  transform-origin: 0 50%;
}

header .desk-menu .nav-item .nav-link:focus,
header .desk-menu .nav-item .nav-link:hover {
  color: #fff;
}

header .desk-menu .nav-item .nav-link:focus::after,
header .desk-menu .nav-item .nav-link:hover::after {
  transform: scale3d(1, 1, 1);
}

header .desk-menu .nav-item .nav-link.active {
  color: #fff;
}

header .desk-menu .nav-item .nav-link.active::after {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transform: scale3d(1, 1, 1);
}

header .desk-menu .nav-item.desk-dropdown {
  position: relative;
}

header .desk-menu .nav-item.desk-dropdown .desk-sub-menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: -50px;
  top: 30px;
  padding: 8px;
  background-color: #f8f8f8;
  z-index: 9;
  width: -moz-max-content;
  width: max-content;
  min-width: 200px;
  max-width: 320px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: visibility 0.3s linear, opacity 0.3s linear;
}

header
  .desk-menu
  .nav-item.desk-dropdown
  .desk-sub-menu
  li.desk-dropdown:hover
  > .desk-sub-menu {
  visibility: visible;
  opacity: 1;
}

header .desk-menu .nav-item.desk-dropdown .desk-sub-menu li:last-child a {
  border-bottom: none;
}

header .desk-menu .nav-item.desk-dropdown .desk-sub-menu li a {
  display: inline-block;
  position: relative;
  font-family: "CircularStdBook-Medium";
  width: 100%;
  color: #000;
  padding: 10px 20px 7px 8px;
  font-size: 14px;
  border-bottom: 1px solid #dadada;
}

header .desk-menu .nav-item.desk-dropdown .desk-sub-menu li a.dropdown-list {
  position: relative;
}

header
  .desk-menu
  .nav-item.desk-dropdown
  .desk-sub-menu
  li
  a.dropdown-list::before {
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
  right: 8px;
  content: "\f0da";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

header .desk-menu .nav-item.desk-dropdown .desk-sub-menu li a:hover {
  background-color: #dbf1ff;
  color: #007ab6;
}

header .desk-menu .nav-item.desk-dropdown .desk-sub-menu.mini-1 {
  background-color: #fff;
  left: 100%;
  top: 0;
}

header .desk-menu .nav-item.desk-dropdown .desk-sub-menu.mini-1 li a {
  font-family: "CircularStdBook-Regular";
}

header .desk-menu .nav-item.desk-dropdown:hover > .desk-sub-menu {
  visibility: visible;
  opacity: 1;
}

.offcanvas .offcanvas-header .offcanvas-title img {
  width: 100px;
  height: auto;
}

.offcanvas .offcanvas-body {
  padding: 0;
  background: #007ab6;
}

.offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link {
  padding: 8px 15px;
  color: #fff;
  border-bottom: 1px solid rgba(204, 204, 204, 0.1803921569);
}

.offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link.active {
  background-color: #003955;
}

.offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link.mob-drop::before {
  position: absolute;
  right: 8px;
  content: "\f0dd";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.offcanvas .offcanvas-body .navbar-nav .nav-item .mob-sub-menu {
  background-color: #003955;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.product_banner {
  position: relative;
  height: 210px;
}

.product_banner .product_banner_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.product_banner .absolute-container {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.product_banner .absolute-container .banner_text_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.product_banner
  .absolute-container
  .banner_text_wrap
  .text
  nav
  .breadcrumb
  .breadcrumb-item {
  color: #1ca8f0;
}

.product_banner
  .absolute-container
  .banner_text_wrap
  .text
  nav
  .breadcrumb
  .breadcrumb-item
  a {
  color: #fff;
}

.product_banner
  .absolute-container
  .banner_text_wrap
  .text
  nav
  .breadcrumb
  .breadcrumb-item
  a:hover {
  color: #1ca8f0;
}

.product_banner .absolute-container .banner_text_wrap .text .title {
  font-size: 36px;
  font-family: "CircularStdBook-Medium";
  color: #fff;
  margin-bottom: 0px;
}

@media (max-width: 991px) {
  .product_banner .absolute-container .banner_text_wrap .text .title {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .product_banner .absolute-container .banner_text_wrap .text .title {
    font-size: 26px;
  }
}
.about-sec .nav-tabs {
  margin: 0px 0px 40px;
  overflow-x: auto;
  flex-wrap: nowrap;
  overflow-y: hidden;
}

.about-sec .nav-tabs .nav-link {
  margin-bottom: calc(-1 * var(--bs-nav-tabs-border-width));
  background: 0 0;
  border-bottom: none;
  color: #66707e;
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-size: 16px;
  font-family: "CircularStdBook-Bold";
  padding: 8px 26px;
  text-wrap: nowrap;
  margin-bottom: 0;
}

.about-sec .nav-tabs .nav-link.active {
  color: #087db9;
  background-color: #fff;
  border-bottom: 1px solid #087db9;
}

.about-sec .tab-content .tab-contnet-title {
  font-size: 20px;
  font-family: "CircularStdBook-Medium";
  color: #66707e;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .about-sec .tab-content .tab-contnet-title {
    font-size: 18px;
  }
}
@media (max-width: 575px) {
  .about-sec .tab-content .tab-contnet-title {
    font-size: 17px;
  }
}
.about-sec .tab-content .tab-contnet-list {
  margin-left: 25px;
}

.about-sec .tab-content .tab-contnet-list li {
  list-style: disc;
  font-size: 14px;
  color: #66707e;
  margin-bottom: 7px;
}

.about-sec {
  padding: 50px 0;
}
.about-sec .about-img-row {
  display: flex;
  align-items: center;
}
.about-sec .about-img-row [class^="about-img-col"] {
  padding-right: 20px;
}
@media (max-width: 991px) {
  .about-sec .about-img-row [class^="about-img-col"]:last-child {
    padding-right: 0px;
  }
}
.about-sec .about-img-row [class^="about-img-col"] img {
  width: 100%;
}
.about-sec .about-text h2 {
  font-size: 26px;
  font-family: "CircularStdBook-Bold";
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .about-sec .about-text h2 {
    font-size: 24px;
  }
}
.about-sec .about-text p {
  color: #66707e;
  margin-bottom: 15px;
  text-align: justify;
  font-size: 15px;
}
.about-sec .about-text h6 {
  line-height: 1.5;
  color: #1f2026;
  margin-bottom: 15px;
  font-size: 15px;
  font-family: "CircularStdBook-Bold";
}
.about-sec .about-text ul li {
  position: relative;
  color: #66707e;
  margin-bottom: 10px;
  text-align: justify;
  font-size: 15px;
  line-height: 1.2;
  padding-left: 15px;
}
.about-sec .about-text ul li:before {
  position: absolute;
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-size: 8px;
  color: #087db9;
  left: 0;
  top: 6px;
  transform: translateY(-50%);
}
.about-sec .about-text .mission-box,
.about-sec .about-text .vision-box {
  display: flex;
}
.about-sec .about-text .mission-box .mission-icon,
.about-sec .about-text .mission-box .vision-icon,
.about-sec .about-text .vision-box .mission-icon,
.about-sec .about-text .vision-box .vision-icon {
  margin-right: 1rem;
}
.about-sec .rounded-columns [class^="col-"]:first-child select {
  border-radius: 4px 0 0 4px;
}
.about-sec .rounded-columns [class^="col-"]:last-child a {
  border-radius: 0 4px 4px 0;
}
@media (max-width: 767px) {
  .about-sec .rounded-columns [class^="col-"] select,
  .about-sec .rounded-columns [class^="col-"] input,
  .about-sec .rounded-columns [class^="col-"] a {
    border-radius: 4px !important;
  }
}
.about-sec form {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}
.about-sec form .form-control,
.about-sec form .form-select {
  height: 50px;
  border: 1px solid #d0d9e4;
  border-radius: 0;
  line-height: 1;
}
.about-sec form label.form-label {
  text-transform: capitalize;
  color: #1f2026;
  font-family: "CircularStdBook-Bold";
  font-size: 14px;
}
.about-sec form .serc-btn {
  text-decoration: none;
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #087db9;
  color: #fff;
  border: 1px solid #087db9;
  line-height: 1;
  transition: all 0.1s linear;
}
.about-sec form .serc-btn:hover {
  background-color: #02537c;
}
.about-sec .req-quote-btn {
  background-color: #087db9;
  color: #fff;
  border: 1px solid #087db9;
  border-radius: 4px;
  padding: 0 15px;
  line-height: 1;
  height: 40px;
  width: 200px;
  margin-top: 20px;
  transition: all 0.1s linear;
}
.about-sec .req-quote-btn:hover {
  background-color: #02537c;
}
@media (max-width: 575px) {
  .about-sec .req-quote-btn:hover {
    width: 150px;
  }
}
.about-sec .job-recruitment-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border: 1px solid #d0d9e4;
  border-radius: 10px;
}
@media (max-width: 767px) {
  .about-sec .job-recruitment-card {
    flex-direction: column;
    align-items: start;
  }
}
.about-sec .job-recruitment-card .left-body,
.about-sec .job-recruitment-card .right-body {
  padding: 15px;
}
.about-sec .job-recruitment-card .recruit-title {
  font-size: 22px;
  font-family: "CircularStdBook-Bold";
}
.about-sec .job-recruitment-card .recruit-title .fa-user-tie {
  font-size: 17px;
  position: relative;
  top: -2px;
}
.about-sec .job-recruitment-card .recruit-description {
  font-size: 14px;
  color: #66707e;
}
.about-sec .job-recruitment-card .entities {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0;
  padding: 0;
  line-height: 1;
}
.about-sec .job-recruitment-card .entities li {
  position: relative;
  font-family: "CircularStdBook-Medium";
  color: #1f2026;
  background-color: #eff2f5;
  border: 1px solid #dae1e9;
  padding: 5px 10px;
  font-size: 12px;
  margin-right: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  min-width: 130px;
  text-align: center;
}
.about-sec .job-recruitment-card .job-apply-btn {
  text-decoration: none;
  display: block;
  width: 160px;
  text-align: center;
  border: 1px solid #087db9;
  color: #087db9;
  background-color: #f0faff;
  line-height: 1;
  padding: 12px;
  border-radius: 4px;
  transition: all 0.1s linear;
}
.about-sec .job-recruitment-card .job-apply-btn:hover {
  background-color: #087db9;
  color: #fff;
}

footer {
  padding: 40px 0;
  background-color: #1d2944;
}

footer .f-contact-strap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.25);
  padding-bottom: 40px;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  footer .f-contact-strap .secondary-btn {
    width: 100px;
    flex-shrink: 0;
    font-size: 13px;
    margin-left: 10px;
  }
}
footer .f-contact-strap h4 {
  color: #fff;
  font-size: 30px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  footer .f-contact-strap h4 {
    font-size: 28px;
  }
}
@media (max-width: 991px) {
  footer .f-contact-strap h4 {
    font-size: 22px;
  }
}
footer .f-links-row {
  margin-bottom: 26px;
}

@media (min-width: 992px) {
  footer .f-links-row .col-md-20 {
    width: 20%;
    flex: 0 0 auto;
  }
}
footer .f-links-row h5 {
  color: #1ca8f0;
  font-size: 20px;
  margin-bottom: 10px;
}

footer .f-links-row ul li {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 14px;
  margin: 4px 0;
  font-family: "CircularStdBook-Regular";
}

footer .f-links-row ul li a {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 14px;
  font-family: "CircularStdBook-Regular";
  margin: 4px 0;
  display: inline-block;
}

footer .f-links-row ul li a:hover {
  color: #fff;
}

footer .f-links-row ul li a i.fab,
footer .f-links-row ul li a i.fas {
  margin-right: 6px;
}

footer .f-country-text-wrap {
  border-top: 1px solid hsla(0, 0%, 100%, 0.25);
  padding-top: 15px;
}

footer .f-country-text-wrap ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .f-country-text-wrap ul li {
  position: relative;
  color: #fff;
  font-size: 16px;
  padding-right: 15px;
  padding-left: 10px;
}

footer .f-country-text-wrap ul li:not(:last-child):after {
  position: absolute;
  content: "|";
  right: 0;
  top: 0;
}

footer .f-country-text-wrap ul li a {
  color: #fff;
  font-size: 16px;
}

footer .f-country-text-wrap ul li a:hover {
  text-decoration: underline;
}

footer .f-copyright-text-wrap {
  text-align: center;
}

footer .f-copyright-text-wrap p {
  color: #fff;
  font-size: 16px;
  margin-bottom: 0;
}

/* search auto suggestion popup css */
.src-autosuggestion {
  position: absolute;
  width: 100%;
  background-color: #fff;
  z-index: 999;
  top: 34px;
  border-radius: 0px 0px 4px 4px !important;
  padding: 0 15px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.src-autosuggestion .src-see-btn-box {
  margin-bottom: 0;
}

.src-autosuggestion .src-see-btn-box .see_all_btn {
  border: 0;
  background-color: #fff;
  font-size: 14px;
  font-family: "CircularStdBook-Medium";
  padding: 10px;
}

.src-autosuggestion .src-see-btn-box .see_all_btn:hover {
  color: #1ca8f0;
}

.src-autosuggestion .src-cate {
  position: relative;
  font-size: 18px;
  font-family: "CircularStdBook-Bold";
  margin-bottom: 2px;
  margin-top: 5px;
}

.src-autosuggestion .categ-list li {
  margin: 5px 0;
  font-size: 14px;
  font-family: "CircularStdBook-Medium";
}

.src-autosuggestion .categ-list li a {
  color: #1f2026;
}

.src-autosuggestion .categ-list li a:hover {
  color: #1ca8f0;
}

.src-autosuggestion .src-cate span {
  padding: 6px 10px 6px 0px;
  display: inline-block;
  position: relative;
  z-index: 9;
  background-color: #fff;
}

.src-autosuggestion .src-cate::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #dedfe6;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.src-autosuggestion .suggest_list {
  margin-bottom: 0;
}

.src-autosuggestion .suggest_list .suggest {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #dedfe6;
  cursor: pointer;
}

.src-autosuggestion .suggest_list .suggest:last-child {
  border-bottom: none;
}

.src-autosuggestion .suggest .text_box {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.src-autosuggestion .suggest .icon_box {
  background-color: #efefef;
  padding: 5px;
}

.src-autosuggestion .suggest .icon_box img {
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
  object-fit: contain;
}

.src-autosuggestion .suggest .text_box .p_code_text {
  color: #1ca8f0;
}

.src-autosuggestion .suggest .text_box .suggest_text {
  font-size: 14px;
  font-family: "CircularStdBook-Medium";
} /*# sourceMappingURL=about.css.map */
